:host {
  ion-list {
    ion-item {
      app-img {
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 4px;
      }

      .transaction-state {
        max-width: 40%;
        text-align: center;
        border: 1px solid;
        border-radius: 4px;
        padding: 4px;
      }

      .transaction-state.accepted {
        color: white;
        border-color: #4cd964;
        background-color: #4cd964;
      }

      .transaction-state.delivered {
        color: mediumseagreen;
        border-color: mediumseagreen;
      }

      .transaction-state.inProgress {
        color: deepskyblue;
        border-color: deepskyblue;
      }

      .transaction-state.waitingToBeAccepted {
        color: white;
        border-color: deepskyblue;
        background-color: deepskyblue;
      }

      .transaction-state.returned {
        color: white;
        border-color: var(--ion-color-danger);
        background-color: #e31587;
      }
    }
  }
}
