:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .capture-tab {
    ion-img {
      object-fit: cover;
    }

    ion-img::part(image) {
      border-radius: 8px;
    }
  }

  .post-capture-tab {
    ion-img {
      object-fit: cover;
    }

    ion-img::part(image) {
      border-radius: 8px;
    }
  }
}
