<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<super-tabs>
  <super-tabs-toolbar slot="top">
    <super-tab-button>
      <ion-label color="light">Capture</ion-label>
    </super-tab-button>
    <super-tab-button>
      <ion-label color="light">PostCapture</ion-label>
    </super-tab-button>
  </super-tabs-toolbar>
  <super-tabs-container>
    <super-tab>
      <ion-content>
        <ion-grid class="capture-tab">
          <!-- Use fixed itemHeight to avoid the bug: https://github.com/ionic-team/ionic-framework/issues/17540 -->
          <ion-virtual-scroll
            [items]="chunkedCaptures$ | async"
            [itemHeight]="captureColumnHeight"
          >
            <ion-row *virtualItem="let chunkedGroup">
              <ion-col
                *ngFor="let asset of chunkedGroup; trackBy: trackById"
                [size]="12 / capturesPerRow"
              >
                <app-img
                  [src]="asset.asset_file_thumbnail"
                  [cacheBy]="asset.id + '_assetFileThumbnail'"
                  [style.height.px]="captureImageHeight"
                ></app-img>
              </ion-col>
            </ion-row>
          </ion-virtual-scroll>
          <ion-infinite-scroll
            (ionInfinite)="loadCaptures($event)"
            threshold="100px"
          >
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </ion-grid>

        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button (click)="capture()">
            <ion-icon name="camera"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-content>
    </super-tab>
    <super-tab>
      <ion-content class="ion-padding">
        <ion-virtual-scroll
          [items]="postCaptures$ | async"
          [itemHeight]="postCaptureColumnHeight"
          class="post-capture-tab"
        >
          <app-img
            *virtualItem="let asset"
            [src]="asset.sharable_copy"
            [cacheBy]="asset.id + '_sharableCopy'"
            [style.height.px]="postCaptureImageHeight"
            class="ion-margin-bottom"
          ></app-img>
        </ion-virtual-scroll>
        <ion-infinite-scroll
          (ionInfinite)="loadPostCaptures($event)"
          threshold="300px"
        >
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-content>
    </super-tab>
  </super-tabs-container>
</super-tabs>
