:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .capture-tab {
    app-capture-item::part(app-img) {
      object-fit: cover;
    }

    app-capture-item::part(image) {
      border-radius: 8px;
    }
  }

  .post-capture-tab {
    app-img {
      object-fit: cover;
    }

    app-img::part(image) {
      border-radius: 8px;
    }
  }
}
