:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .capture-tab {
    app-capture-item {
      height: 30vw;
    }

    app-capture-item:focus {
      outline: none;
    }

    app-capture-item::part(app-img) {
      object-fit: cover;
      border-radius: 8px;
    }
  }
}
