<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Inbox</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher
    (ionRefresh)="refreshInbox($event, transactionsInfiniteScroll)"
    slot="fixed"
  >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list lines="none">
    <ion-item
      *ngFor="let transaction of inbox$ | async; trackBy: trackByIdAndStatus"
      class="ion-margin-bottom"
    >
      <app-img
        slot="start"
        [src]="transaction.asset.asset_file_thumbnail"
        [cacheKey]="transaction.id + 'asset_file_thumbnail'"
        class="ion-margin-end"
      >
      </app-img>
      <div class="inbox-content">
        <ion-label>
          <h3>{{ transaction.asset.id }}</h3>
          <p>{{ transaction.created_at | date: 'medium' }}</p>
        </ion-label>

        <div class="inbox-actions">
          <ion-button (click)="ignore(transaction.id)" fill="outline"
            >Ignore</ion-button
          >
          <ion-button (click)="accept(transaction.id)">Accept</ion-button>
        </div>
      </div>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll
    #transactionsInfiniteScroll
    (ionInfinite)="loadInbox($event)"
    threshold="10px"
  >
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
