<ion-header *transloco="let t">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ t('inbox') }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *transloco="let t">
  <ion-refresher
    (ionRefresh)="refreshInbox($event, transactionsInfiniteScroll)"
    slot="fixed"
  >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <app-no-data
    *ngIf="(isFetching$ | async) === false && (inbox$ | async)?.length === 0"
  ></app-no-data>
  <ng-container *ngIf="(inbox$ | async)?.length !== 0">
    <ion-list lines="none">
      <ion-item
        *ngFor="let transaction of inbox$ | async; trackBy: trackByIdAndStatus"
        class="ion-margin-bottom"
      >
        <app-img
          slot="start"
          [src]="transaction.asset.asset_file_thumbnail"
          [cacheKey]="transaction.id + 'assetFileThumbnail'"
          class="ion-margin-end"
        >
        </app-img>
        <div class="inbox-content">
          <ion-label>
            <h3>{{ transaction.asset.id }}</h3>
            <p>
              {{
                transaction.created_at
                  | translocoDate: { dateStyle: 'short', timeStyle: 'medium' }
              }}
            </p>
          </ion-label>

          <div class="inbox-actions">
            <ion-button (click)="ignore(transaction.id)" fill="outline">
              {{ t('ignore') }}
            </ion-button>
            <ion-button (click)="accept(transaction.id)">
              {{ t('accept') }}
            </ion-button>
          </div>
        </div>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll
      #transactionsInfiniteScroll
      (ionInfinite)="loadInbox($event)"
      threshold="10px"
    >
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-container>
</ion-content>
