ion-menu {
  ion-content {
    ion-item {
      border-radius: 8px;
    }

    ion-item.selected {
      --color: var(--ion-color-primary);
      --background: rgba(var(--ion-color-primary-rgb), 0.14);

      ion-icon {
        color: var(--ion-color-primary);
      }
    }
  }
}

#main-content {
  flex-grow: 1;
}
