<ion-icon
  *ngIf="
    !isUploading &&
    !hasUploaded &&
    !(item$ | async)?.diaBackendAsset &&
    (item$ | async)?.proof
  "
  name="cloud-offline"
  size="large"
></ion-icon>
<div
  *ngIf="
    isUploading ||
    (!(item$ | async)?.diaBackendAsset && !(item$ | async)?.proof)
  "
  class="spinner-container"
>
  <ion-spinner></ion-spinner>
</div>
<ion-icon
  *ngIf="isUploading || hasUploaded"
  name="cloud-upload"
  size="large"
></ion-icon>
<ion-icon
  *ngIf="!(item$ | async)?.diaBackendAsset && !(item$ | async)?.proof"
  name="hourglass-outline"
  size="large"
></ion-icon>
<app-img
  *ngIf="thumbnailUrl$ | async as thumbnailUrl"
  [src]="thumbnailUrl"
  [cacheKey]="cacheKey$ | async"
  part="app-img"
  exportparts="ion-img, image"
></app-img>
