<ion-header *transloco="let t">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ t('settings') }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *transloco="let t">
  <ion-list>
    <ion-item>
      <ion-icon name="language" slot="start"></ion-icon>
      <ion-label>{{ t('language') }}</ion-label>
      <ion-select
        [value]="currentLanguageKey$ | async"
        (ionChange)="setCurrentLanguage($event.target.value)"
      >
        <ion-select-option
          *ngFor="let language of languages | keyvalue"
          [value]="language.key"
        >
          {{ language.value }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>
