<ion-header *transloco="let t">
  <ion-toolbar color="primary">
    <ion-title>{{ t('information') }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *transloco="let t">
  <ion-list>
    <ion-list-header>{{ t('digitalAsset') }}</ion-list-header>
    <ion-item>
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label>
        <h3>{{ t('owner') }}</h3>
        <p>{{ (asset$ | async)?.owner }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon src="/assets/icons/media-id.svg" slot="start"></ion-icon>
      <ion-label>
        <h3>{{ t('mediaId') }}</h3>
        <p>{{ (asset$ | async)?.id }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="code-working" slot="start"></ion-icon>
      <ion-label>
        <h3>{{ t('hash') }}</h3>
        <p>{{ (asset$ | async)?.proof_hash }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="time" slot="start"></ion-icon>
      <ion-label>
        <h3>{{ t('timestamp') }}</h3>
        <p>
          {{
            (asset$ | async)?.information.proof.timestamp
              | translocoDate: { dateStyle: 'long', timeStyle: 'long' }
          }}
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="image" slot="start"></ion-icon>
      <ion-label>
        <h3>{{ t('mimeType') }}</h3>
        <p>
          {{ (asset$ | async)?.information.proof.mimeType }}
        </p>
      </ion-label>
    </ion-item>
    <ng-container *ngIf="asset$ | async as asset">
      <ion-list-header>{{ t('information') }}</ion-list-header>
      <ion-item *ngFor="let info of asset.information.information">
        <ion-icon name="information-circle" slot="start"></ion-icon>
        <ion-label>
          <h3>{{ info.name }}</h3>
          <p>{{ info.value }}</p>
        </ion-label>
      </ion-item>
    </ng-container>

    <ion-list-header>{{ t('signature') }}</ion-list-header>
    <ion-item>
      <ion-icon name="shield-checkmark" slot="start"></ion-icon>
      <ion-label>
        <h3>{{ t('signature') }}</h3>
        <p>{{ (asset$ | async)?.signature[0].signature }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="key" slot="start"></ion-icon>
      <ion-label>
        <h3>{{ t('publicKey') }}</h3>
        <p>{{ (asset$ | async)?.signature[0].publicKey }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
